.login_logo {
	height: 80px;
}

.login_container {
	width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 0 30px;
}
.login_container .login_title {
	font:32px/32px 'ubuntu'; font-weight: 400; color:rgba(0,70,125,1);
}
.login_form_container {
	width: 400px; display: flex; flex-direction: column; align-items: flex-start;
}
.login_form_container form {
	margin: 0; width: 100%;
}
.login_form_container form .form_item {
	display: flex; flex-direction: column; width: 100%;
}

.login_form_container form .form_item input[type=text], .login_form_container form .form_item input[type=password], .login_form_container form .form_item input[type=email] {
	border: 0; border-bottom: 1px solid rgba(0,70,125,0.5); color: rgba(0,70,125,1); background-color: transparent; font:18px/18px 'ubuntu'; font-weight: 500; margin: 0;
}
.login_form_container form .form_item input[type=text]::placeholder, .login_form_container form .form_item input[type=password]::placeholder, .login_form_container form .form_item input[type=email]::placeholder {
	color: rgba(0,70,125,0.5);
}

.login_form_container form .form_item input[type=submit] {
	border: 0; background-color:  rgba(0,70,125,0.8); color: rgba(255,255,255,0.8); font:16px/16px 'ubuntu'; font-weight: 500; margin: 0; padding: 15px 0; width: 100%; border-radius: 50px;
}
.login_form_container form .form_item input[type=submit]:hover, .login_form_container form .form_item input[type=submit]:focus {
	background-color:  rgba(0,70,125,1); color: rgba(255,255,255,1);
}

.login_form_container form .form_item label {
	color: rgba(0,70,125,1); font:12px/12px 'ubuntu'; font-weight: 500; margin: 0; padding: 0; display: flex; align-items: center;
}
.login_form_container form .form_item label input[type=checkbox] {
	border: 1px solid rgba(0,70,125,0.5); background-color: transparent; width: 22px; height: 22px; display: block; margin: 0 5px 0 0; border-radius: 50%;
}
.login_form_container form .form_item label input[type=checkbox]:checked {
	border: 1px solid  rgba(0,70,125,1); background-color:rgba(0,70,125,1);
}

.login_container .login_help {
	display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-start;
}

.login_container .login_help a {
	font:10px/10px 'ubuntu'; font-weight: 500; color: rgba(0,70,125,0.5); margin: 0 0 5px 0; border-radius: 5px; width: 400px;
}
.login_container .login_help a:hover {
	color: rgba(0,70,125,1);
}

.login_supportedby {
	display: flex; flex-direction: column; align-items: center;
}
.login_supportedby div:nth-child(1) {
	font:10px/10px 'ubuntu'; font-weight: 400; color: rgba(0,0,0,0.5);
}
.login_supportedby .login_supportedby_logocontainer {
	display: flex; justify-content: center; align-items: center;
}
.login_supportedby .login_supportedby_logocontainer .login_support_logo {
	height: 13px; margin: 0 5px;
}

@media only screen and (max-width: 768px) {
	.login_container {
		width: calc(100% - 60px); height: calc(100vh - 60px); padding: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center;
	}
}
