.cyco_assessment {
	display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100vw; height: 100vh; color: #FFF!important;

	background: linear-gradient(270deg, #007bd6, #2884b3, #005f8f);
	background-size: 600% 600%;
	-webkit-animation: cyco_assessment 30s ease infinite;
	-moz-animation: cyco_assessment 30s ease infinite;
	-o-animation: cyco_assessment 30s ease infinite;
	animation: cyco_assessment 30s ease infinite;
}

@-webkit-keyframes cyco_assessment {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes cyco_assessment {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes cyco_assessment {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes cyco_assessment {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.cyco_assessment .top_container {
	width: calc(100% - 40px); height: 100px; display: flex; justify-content: center; align-items: center; padding: 0 20px;
}
.cyco_assessment .mid_container {
	width: calc(100% - 40px); height: calc(100vh - 120px); display: block; justify-content: flex-start; align-items: flex-start; padding: 0px 20px 20px 20px; overflow-x: hidden; overflow-y: auto;
}
.cyco_assessment .bottom_container {
	width: calc(100% - 40px); height: 0px; display: flex; justify-content: flex-start; align-items: flex-start; padding: 0 20px;
}

.cyco_assessment .top_container .top_logo {
	display: block; height: 60px;
}



.cyco_assessment h2 {
	font:26px/30px 'ubuntu'!important; font-weight: 300!important; margin: 0 0 10px 0; text-align: center; color: #FFF!important;
}
.cyco_assessment h3 {
	font:24px/24px 'ubuntu'!important; font-weight: 400!important; margin: 0 0 10px 0; text-align: center; color: #FFF!important;
}
.cyco_assessment h4 {
	font:20px/20px 'ubuntu'!important; font-weight: 300!important; margin: 0 0 10px 0; color: #FFF!important;
}
.cyco_assessment h6 {
	font:12px/12px 'ubuntu'!important; font-weight: 300!important; margin: 0 0 20px 0; text-align: center; color: #FFF!important;
}

.cyco_assessment .languageListContainer {
	width: 30%; min-width: 400px; display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; margin: 0 auto;
}
.cyco_assessment .languageListContainer .languageListItem {
	width: calc((100% / 2) - 10px); display: flex; justify-content: center; align-items: center; height: 120px; color: rgba(255,255,255,1)!important; background-color: rgba(255,255,255,0.1); font:16px/16px 'ubuntu'!important; font-weight: 400!important; flex-direction: column; margin: 20px 0 0 0;
}
.cyco_assessment .languageListContainer .languageListItem:nth-child(1), .cyco_assessment .languageListContainer .languageListItem:nth-child(2) {
	margin: 0 0 0 0;
}
.cyco_assessment .languageListContainer .languageListItem:hover {
	color: rgba(0,70,125,1.0)!important; background-color: rgba(255,255,255,0.3);
}
.cyco_assessment .languageListContainer .languageListItem:hover img {
	-webkit-filter: grayscale(0%); filter: grayscale(0%);
}
.cyco_assessment .languageListContainer img {
	height: 40px; margin: 0 0 10px 0; -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

.cyco_assessment .mid_container form {
	width: calc(60% - 0px); flex-direction: column; min-width: 400px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;
}
.cyco_assessment .mid_container form .formflex2 {
	width: calc(100% - 0px); min-width: 400px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;
}
.cyco_assessment .mid_container form .progressbar {
	display: block; width: 100%; height: 5px; background-color: rgba(255,255,255,0.1); margin: 0 0 20px 0; border-radius: 10px; overflow: hidden;
}
.cyco_assessment .mid_container form .progressbar .progressbarvalue {
	display: block; height: 5px; background-color: rgba(255,255,255,1);
}
.cyco_assessment .mid_container form .form_item {
	width: calc(50% - 10px);
}
.cyco_assessment .mid_container form label {
	font:12px/12px 'ubuntu'!important; font-weight: 300!important; margin: 0 0 0 0; color: rgba(255,255,255,1); display: block;
}

.cyco_assessment .mid_container form input[type=text], .cyco_assessment .mid_container form input[type=Email], .cyco_assessment .mid_container form input[type=tel], .cyco_assessment .mid_container form input[type=date], .cyco_assessment .mid_container form input[type=password] {
	border: 0px; border-bottom: 1px solid rgba(255,255,255,0.5); color: rgba(255,255,255,1); background-color: rgba(255,255,255,0); font:16px/16px 'ubuntu'; font-weight: 400; margin: 0 0 20px 0; padding: 0px 10px; height: 40px;
}
.cyco_assessment .mid_container form input[type=text]:-webkit-autofill, .cyco_assessment .mid_container form input[type=Email]:-webkit-autofill, .cyco_assessment .mid_container form input[type=tel]:-webkit-autofill, .cyco_assessment .mid_container form input[type=date]:-webkit-autofill, .cyco_assessment .mid_container form input[type=password]:-webkit-autofill {
	border: 0px; border-bottom: 1px solid rgba(255,255,255,0.5); color: rgba(255,255,255,1); background-color: rgba(255,255,255,0); font:16px/16px 'ubuntu'; font-weight: 400; margin: 0 0 20px 0; padding: 0px 10px; height: 40px;
}
.cyco_assessment .mid_container form input[type=text]::placeholder, .cyco_assessment .mid_container form input[type=Email]::placeholder, .cyco_assessment .mid_container form input[type=tel]::placeholder, .cyco_assessment .mid_container form input[type=password]::placeholder {
	color: rgba(255,255,255,0.3);
}

.cyco_assessment .mid_container form select {
	border: 0px; border-bottom: 1px solid rgba(255,255,255,0.5); color: rgba(255,255,255,1); background-color: rgba(255,255,255,0); font:16px/16px 'ubuntu'; font-weight: 400; margin: 0 0 20px 0; padding: 0px 10px; height: 40px;
}
.cyco_assessment .mid_container form select option {
	font:13px/13px 'ubuntu'; font-weight: 400;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
}

.cyco_assessment .mid_container form input[type=submit] {
	border: 0; background-color:  rgba(255,255,255,0.8); color: rgba(0,70,125,0.8); font:16px/16px 'ubuntu'; font-weight: 500; margin: 0; padding: 15px 0; width: 120px; border-radius: 0px;
}
.cyco_assessment .mid_container form input[type=submit]:hover {
	background-color:  rgba(255,255,255,1); color: rgba(0,70,125,1);
}

.cyco_assessment .mid_container form .login_form_rangeselected {
	font:16px/16px 'ubuntu'; font-weight: 500; margin: 0 0 10px 0; padding: 0; color: #000;
}

.cyco_assessment .mid_container form input[type=range]{
	width: 100%; height: 23px;
}
.cyco_assessment .mid_container form input[type=range]:focus {
  outline: none;
}
.cyco_assessment .mid_container form input[type=range]::-webkit-slider-runnable-track {
  width: 100%; height: 1px; cursor: pointer; animation: 0.2s; background: rgba(255,255,255,0.5);
}
.cyco_assessment .mid_container form input[type=range]::-webkit-slider-thumb {
  border: 0px solid #000; height: 21px; width: 21px; border-radius: 50%; background: rgba(255,255,255,1); cursor: pointer; -webkit-appearance: none; margin: -10px 0 0 0;
}
.cyco_assessment .mid_container form input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255,255,255,1);
}
.cyco_assessment .mid_container form input[type=range]::-moz-range-track {
  width: 100%; height: 1px; cursor: pointer; animation: 0.2s; background: rgba(255,255,255,0.5);
}
.cyco_assessment .mid_container form input[type=range]::-moz-range-thumb {
  border: 0px solid #FFF; height: 21px; width: 21px; border-radius: 50%; background: rgba(255,255,255,1); cursor: pointer; -webkit-appearance: none; margin: -10px 0 0 0;
}
.cyco_assessment .mid_container form input[type=range]::-ms-track {
  width: 100%; height: 1px; cursor: pointer; animation: 0.2s; background: rgba(255,255,255,0.5);
}
.cyco_assessment .mid_container form input[type=range]::-ms-thumb {
  border: 0px solid #FFF; height: 21px; width: 21px; border-radius: 50%; background: rgba(255,255,255,1); cursor: pointer; -webkit-appearance: none; margin: -10px 0 0 0;
}

.cyco_assessment .mid_container form .questionnaireCheckboxLabel {
	font:18px/18px 'ubuntu'!important; font-weight: 300!important; margin: 0 0 10px 0; color: #FFF!important; display: flex; align-items: center;
}
.cyco_assessment .mid_container form label input[type=checkbox] {
	border: 2px solid rgba(255,255,255,0.3); background-color: transparent; width: 30px; height: 30px; margin: 0 5px 0 0; border-radius: 50%;
}
.cyco_assessment .mid_container form label span {
	margin: 0 0 0 5px; color: rgba(255,255,255,0.6);
}
.cyco_assessment .mid_container form label input[type=checkbox]:checked {
	border: 2px solid  rgba(255,255,255,1);
}
.cyco_assessment .mid_container form label input[type=checkbox]:checked + span {
	color: rgba(255,255,255,1);
}

.cyco_assessment .mid_container form .asses_form_dateselect {
	display: flex; width: 100%; flex-direction: row; justify-content: space-between;
}
.cyco_assessment .mid_container form .asses_form_dateselect select option {
	color: #000; font:13px/13px 'ubuntu'; font-weight: 400;
}
.cyco_assessment .mid_container form .asses_form_dateselect select:nth-child(1) {
	width: calc(20% - (20px / 3));
}
.cyco_assessment .mid_container form .asses_form_dateselect select:nth-child(2) {
	width: calc(50% - (20px / 3));
}
.cyco_assessment .mid_container form .asses_form_dateselect select:nth-child(3) {
	width: calc(30% - (20px / 3));
}

.thickslider::-webkit-slider-runnable-track {
  width: calc(100% - 2px)!important; height: 20px!important; cursor: pointer; animation: 0.2s; background: rgb(255,102,0)!important;
	background: -moz-linear-gradient(90deg, rgba(255,102,0,1) 0%, rgba(0,255,8,1) 50%, rgba(0,35,255,1) 100%)!important;
	background: -webkit-linear-gradient(90deg, rgba(255,102,0,1) 0%, rgba(0,255,8,1) 50%, rgba(0,35,255,1) 100%)!important;
	background: linear-gradient(90deg, rgba(255,102,0,1) 0%, rgba(0,255,8,1) 50%, rgba(0,35,255,1) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6600",endColorstr="#0023ff",GradientType=1)!important;
	border:1px solid #FFF;
}
.thickslider::-webkit-slider-thumb {
  border: 0px solid #FFF!important; height: 30px!important; width: 11px!important; border-radius: 5px!important; background: rgba(255,255,255,1)!important; cursor: pointer; -webkit-appearance: none; margin: -5px 0 0 0!important; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.thickslider::-webkit-slider-runnable-track {
	background: rgb(255,102,0)!important;
background: -moz-linear-gradient(90deg, rgba(255,102,0,1) 0%, rgba(0,255,8,1) 50%, rgba(0,35,255,1) 100%)!important;
background: -webkit-linear-gradient(90deg, rgba(255,102,0,1) 0%, rgba(0,255,8,1) 50%, rgba(0,35,255,1) 100%)!important;
background: linear-gradient(90deg, rgba(255,102,0,1) 0%, rgba(0,255,8,1) 50%, rgba(0,35,255,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6600",endColorstr="#0023ff",GradientType=1)!important;
}

.questionnaireABContainer {
	display: flex; align-items: flex-start;
}
.questionnaireABContainer .ABleft, .questionnaireABContainer .ABright {
	width: 50%; padding: 10px;
}

.cyco_assessment .mid_container form label .abcheckbox {
	display: none;
}
.cyco_assessment .mid_container form label .ab_radio {
	display: flex; width: calc(100% - 42px); height: 120px; padding: 20px; justify-content: center; text-align: center; align-items: center; font:18px/18px 'ubuntu'!important; font-weight: 400!important; margin: 0 0 10px 0; color: #FFF!important; border: 1px solid rgba(255,255,255,0.5); border-radius: 10px;
}
.cyco_assessment .mid_container form label .abcheckbox:checked + .ab_radio {
	border: 1px solid rgba(255,255,255,1); background-color: rgba(255,255,255,1); color: rgba(0,70,125,0.8)!important;
}



.uk-select:not([multiple]):not([size]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgMTJjMC02LjYyNy01LjM3My0xMi0xMi0xMnMtMTIgNS4zNzMtMTIgMTIgNS4zNzMgMTIgMTIgMTIgMTItNS4zNzMgMTItMTJ6bS0xOC4wMDUtMS41NjhsMS40MTUtMS40MTQgNC41OSA0LjU3NCA0LjU3OS00LjU3NCAxLjQxNiAxLjQxNC01Ljk5NSA1Ljk4OC02LjAwNS01Ljk4OHoiLz48L3N2Zz4=');
		background-repeat: no-repeat, repeat;
		background-position: right .7em top 50%, 0 0;
		background-size: 0 auto, 100%;
}

.cyco_assessment .mid_container .termConditionContainer {
	width: calc(50% - 20px); height: 55vh; overflow-y: auto; padding: 0 20px 0 0; margin: 0 auto;
}
.cyco_assessment .mid_container .termConditionContainer ol {
	margin: 5px 0 0 0; padding: 0 0 0 25px;
}
.cyco_assessment .mid_container .termConditionContainer li {
	margin: 0 0 5px 0; font: 12px/14px 'ubuntu'!important; font-weight: 300!important;
}

.cyco_assessment .dash_langContainer {
	position: fixed; top: 10px; left: 10px; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #FFF; background-size: cover;
}
.cyco_assessment .dash_langContainer .dash_langSelect {
	display: none; position: absolute; padding:40px 0 0 0;
}
.cyco_assessment .dash_langContainer:hover .dash_langSelect {
	display: block;
}
.cyco_assessment .dash_langContainer .dash_langSelect a {
	display: flex; align-items: center; margin:  0 0 5px 0; color: rgba(255, 255, 255, 0.5);
}
.cyco_assessment .dash_langContainer .dash_langSelect a:hover {
	color: rgba(255, 255, 255, 1);
}
.cyco_assessment .dash_langContainer .dash_langSelect a img {
	height: 20px; margin: 0 5px 0 0;
}

.cyco_assessment .mid_container .questionnaireContainer {
	display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%;
}

.cyco_assessment .mid_container .tandcform label {
	display: flex; align-items: center;
}
.cyco_assessment .mid_container .tandcform label input[type=checkbox] {
	border: 1px solid rgba(255,255,255,0.6); background-color: transparent; width: 22px; height: 22px; margin: 0 5px 0 0; border-radius: 50%;
}
.cyco_assessment .mid_container .tandcform label input[type=checkbox]:checked {
	border: 1px solid  rgba(255,255,255,1); background-color:rgba(0,70,125,1);
}

.cyco_assessment .mid_container .questionnaireContainer .ab_slider_indicator {
	display: flex; width: 100%; justify-content: space-between; margin: 10px 0 0 0; font: 16px/16px 'ubuntu'!important; font-weight: 400!important;
}
.cyco_assessment .mid_container .questionnaireContainer .ab_slider_indicator div {
	text-align: center; width: calc(100% / 3);
}
.cyco_assessment .mid_container .questionnaireContainer .ab_slider_indicator div span {
	display: block; margin: 0 0 5px 0;
}
.cyco_assessment .mid_container .questionnaireContainer .ab_slider_indicator div:nth-child(1) {
	text-align: left;
}
.cyco_assessment .mid_container .questionnaireContainer .ab_slider_indicator div:nth-child(3) {
	text-align: right;
}

.asses_thankyou {
	display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; flex-direction: column;
}
.asses_thankyou .asses_thankyou_item01 {
	font: 24px/24px 'ubuntu'!important; font-weight: 500!important; color: #FFF; margin: 0 0 10px 0;
}
.asses_thankyou .asses_thankyou_item02 {
	font: 16px/16px 'ubuntu'!important; font-weight: 300!important; color: rgba(255,255,255, 0.5);
}
.asses_thankyou .asses_thankyou_item02 span {
	font: 16px/16px 'ubuntu'!important; font-weight: 500!important; color: #FFF;
}
.asses_thankyou .asses_thankyou_item02 a {
	font: 16px/16px 'ubuntu'!important; font-weight: 400!important; color: rgba(255,255,255, 0.9);
}
.asses_thankyou .asses_thankyou_item02 a:hover {
	color: #FFF;
}

/** FORM ERRORS **/

form .field_with_errors input[type=text], form .field_with_errors textarea, form .field_with_errors input[type=password], form .field_with_errors input[type=email], form .field_with_errors select {
	border-bottom: 1px solid rgba(255,0,0,1)!important; color: rgba(255,0,0,1)!important; background-color: rgba(255,0,0,0)!important; font:16px/16px 'ubuntu'; font-weight: 400;
}
.field_with_errors input::placeholder {
	color: rgba(255,0,0,1)!important; font:16px/16px 'ubuntu'; font-weight: 400;
}

.form_errorMessage {
	background-color: rgba(255,0,0,0.7); border: 1px solid rgba(255,0,0,0.5); padding: 10px 20px; margin: 0 0 10px 0; color: rgba(255,255,255,1); width: calc(100% - 40px);
}
.form_errorMessage ul {
	margin: 0 0 0 10px; padding: 0; list-style-type: disc;
}
.form_errorMessage ul li {
	margin: 0; padding: 0;
}

/** FORM ERRORS **/

/** TOP KARIR **/

#topkarir {
	display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100vw; height: 100vh; color: #FFF!important; background: #d91b5c;
}

#topkarir .top_container {
	width: calc(100% - 40px); height: 150px; display: flex; justify-content: center; align-items: center; padding: 0 20px; flex-direction: column;
}
#topkarir .mid_container {
	width: calc(100% - 40px); height: calc(100vh - 170px); display: block; justify-content: flex-start; align-items: flex-start; padding: 0px 20px 20px 20px; overflow-x: hidden; overflow-y: auto;
}

#topkarir .languageListContainer .languageListItem {
	color: rgba(255,255,255,0.7);
}
#topkarir .languageListContainer .languageListItem:hover {
	color: #FFF; background-color: rgba(255,255,255,0.3);
}
#topkarir .top_container .top_logo {
	display: block; height: 50px;
}
#topkarir .top_container .sub_logo {
	display: flex; margin: 5px 0 0 0; flex-direction: column; align-items: center;justify-content: center;
}
#topkarir .top_container .sub_logo span {
	font:6px/6px 'ubuntu'; font-weight: 500; text-align: center;
}
#topkarir .top_container .sub_logo a img {
	display: block; height: 32px; margin: 2px 0 0 0;
}

#topkarir ::-webkit-scrollbar-track {
	background: rgba(255,255,255,0.1)!important;
}
#topkarir ::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,1)!important;
}
#topkarir .mid_container form input[type=submit] {
	border: 0; background-color:  rgba(255,255,255,0.8); color: rgba(0,0,0,0.6); font:16px/16px 'ubuntu'; font-weight: 500; margin: 0; padding: 15px 0; width: 120px; border-radius: 0px;
}
#topkarir .mid_container form input[type=submit]:hover {
	background-color:  rgba(255,255,255,1); color: #d91b5c;
}
#topkarir .mid_container .tandcform label input[type=checkbox]:checked {
	border: 1px solid  rgba(255,255,255,1); background-color:#d91b5c;
}

.assessmentBreaker {
	display: flex; width: 100%; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 55vh;
}
.assessmentBreaker .title {
	font:30px/30px 'ubuntu'; font-weight: 500; text-align: center; margin: 0 0 10px 0;
}
.assessmentBreaker .desc {
	font:12px/12px 'ubuntu'; font-weight: 400; text-align: center;
}


@media screen and (max-width: 768px) {
	.cyco_assessment .languageListContainer {
		width: 100%!important;
	}
	.cyco_assessment .mid_container form {
		width: 100%!important;
	}
	.cyco_assessment .mid_container .termConditionContainer {
		width: calc(100% - 20px)!important; height: 55vh!important; overflow-y: auto; padding: 0 20px 0 0!important;
	}
	.cyco_assessment .mid_container form .form_item {
		width: calc(100% - 0px)!important;
	}
	.cyco_assessment .mid_container .questionnaireContainer {
		min-height: calc(100vh - 100px)!important;
	}
	.cyco_assessment .mid_container form label .ab_radio {
		font:16px/16px 'ubuntu'!important;
	}
}
