@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700');

html 			{ font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
				font-size: 12px; }
body 			{ overflow-y: scroll;}

.left			{ text-align: left !important; }
.center			{ text-align: center !important; }
.right			{ text-align: right !important; }

.text_bold		{ font-weight: 700 !important; }

.w400			{ width: 400px !important; }
.w600			{ width: 600px !important; }
.w100p			{ width: 100% !important; }
.mtop10			{ margin-top: 10px; }

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.2); }
::-webkit-scrollbar-thumb:window-inactive { }

.center_container
				{ position: absolute; width: 100%; height: 100%;
				-webkit-display: -webkit-box; -webkit-display: -webkit-flex; display: -webkit-box; display: -ms-flexbox; display: flex;
				-webkit-align-items: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
				-webkit-justify-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.quiz_container { position: absolute; width: 100%; height: calc(100% - 150px); top: 100px; z-index: 0;
				-webkit-display: -webkit-box; -webkit-display: -webkit-flex; display: -webkit-box; display: -ms-flexbox; display: flex;
				-webkit-align-items: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
				-webkit-justify-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.quiz_container .quiz_content
				{ display: block; max-width: 1000px; text-align: center; padding: 0px 30px; }

.quiz_container .quiz_content form .uk-form-label
				{ display: block; font:30px/36px 'Open Sans'; font-weight: 600; color: #00467d; }
.quiz_container .quiz_content form .uk-form-controls
				{ margin: 50px 0px; display: flex; align-items: top; justify-content: center; }
.quiz_radio9, .quiz_radio5
				{ margin: 0px 10px; width: 50px;  }
.quiz_radio9 input, .quiz_radio5 input
				{ margin: 0px; }
.quiz_radio9 label, .quiz_radio5 label
				{ display: block; margin-top: 10px; font:12px/16px 'Open Sans'; font-weight: 600; }

.quiz_top		{ display: flex; position: fixed; width: 100%; height: 100px; background-color: #00467d; z-index: 10;
				align-items: center; justify-content: space-between; }
.quiz_top img
				{ display: block; width: 100px; margin-left: 30px; }
.quiz_top .quiz_top_info  
				{ text-align: right; padding: 0px 20px; }
.quiz_top .quiz_top_info .biodata
				{ font:20px/20px 'Open Sans'; font-weight: 600; color: #FFF; margin-bottom: 5px; }
.quiz_top .quiz_top_info .ticketnumber
				{ font:10px/10px 'Open Sans'; font-weight: 400; color: #FFF; }


.quiz_bottom	{ display: flex; position: fixed; bottom: 0px; width: 100%; height: 50px; border-top: 1px solid rgba(0,0,0,0.10);
				background-color: rgba(255,255,255,0.20); z-index: 9; align-items: center; justify-content: space-between; }
.quiz_bottom .pagecount, .quiz_bottom .language
				{ display: block; padding: 0px 10px; }
.quiz_bottom .language a
				{ color: #666; text-decoration: none; }
.quiz_bottom .language a:hover
				{ color: #00467d; }

.dash_login		{ border: 1px solid rgba(0,0,0,0.10); background-color: #FFF; margin: 0px auto; z-index: 9; }
.dash_login_top	{ text-align: center; padding: 20px; border-bottom: 1px solid rgba(0,0,0,0.10); }
.dash_login_top	> img
				{ width: 100px; }
.dash_login form
				{ padding: 20px;  }
.dash_login .form_container
				{ margin-bottom: 0px; min-width: 100%; }
.dash_login .dash_login_links
				{ margin-top: 10px; }
.dash_login .dash_login_links a
				{ display: block; color:#666; text-decoration: none; margin-top: 5px; }
.dash_login .dash_login_links a:hover
				{ color: #00467d; }


.dash_left		{ display: block; position: fixed; width: 250px; height: 100%; background-color: #00467d; color: #FFF; z-index: 10; }
.dash_right		{ display: block; position: relative; width: calc(100% - 290px); height: auto;
				left:250px; top: 101px; padding: 20px 20px; z-index: 0; margin-bottom: 0px; }
.dash_right_top	{ display: flex; position: fixed; width: calc(100% - 250px); height: 100px; background-color: rgba(255,255,255,0.90);
				right: 0px; top: 0px; padding: 0px; z-index: 9; border-bottom: 1px solid rgba(0,0,0,0.10);  }
.dash_page_menu	{ display: flex; position: fixed; width: calc(100% - 250px); height: 50px; background-color: rgba(255,255,255,0.90); z-index: 9;
				right: 0px; bottom: 0px; padding: 0px; align-items: center; border-top: 1px solid rgba(0,0,0,0.10); }

.form_divider	{ display: flex; align-items: top;  }
.form_divider .form_div_gap
				{ width: 20px; }
.form_divider .form_div_container
				{ width: calc(50% - 10px); }
.form_divider .form_div_300px
				{ width: 300px; }
.form_divider .form_div_container_auto
				{ width: calc(100% - 310px); }
.control_container
				{ margin-bottom: 20px; }

.control_container > .uk-iconnav > li > a
				{ width: 40px; height: 40px; display:flex; align-items: center; justify-content: center; color: rgba(0,0,0,0.40); border: 1px solid rgba(0,0,0,0.10); margin-right: 10px; }
.control_container > .uk-iconnav > li > a:hover
				{ color: #FFF; background-color: #00467d; }
.control_container > .uk-iconnav > li > button
				{ height: 42px; }


.form_div_container_auto .info_container
				{ width: 400px; }

.info_container	{ margin-bottom: 10px; width: 100%;;  }
.info_container .info_label
				{ font:11px/11px 'Open Sans'; font-weight: 600; }
.info_container .info_output
				{ font:14px/18px 'Open Sans'; font-weight:600; color: #00467d; border-bottom: 0px solid #eee;
				padding: 10px 5px 5px 5px;
				}
.info_container input, .info_container select
				{ width: 100%; margin-top: 10px; }

.profile_picture
				{ display: flex; align-items: center; justify-content: center; width: 300px; height: 300px; background-size: cover; background-position:center; margin-bottom: 20px;}

.photo_info_container
				{ display: flex; align-items: top; margin-bottom: 20px; }
.photo_info_container a
				{ width: 100px; height: 100px; margin-right: 10px; background-size: cover; background-position:center; }

.dash_right .page_title
				{ display: none; font:24px/24px 'Open Sans'; font-weight: 600; color: #00467d; margin-bottom: 20px; text-transform: uppercase; }

/** DASH LEFT **/

.dash_left > .uk-offcanvas-close
				{ display: none; }

.dash_logo_container
				{ display: flex; align-items: center; justify-content: center; height: 100px; width: 100%;  }
.dash_logo_container > img
				{ display: block; height: 50px; }

.dash_user_status
				{ display: flex; padding: 10px; height: 30px; width: calc(100% - 20px); align-items: center; justify-content: center; flex-direction: column;
				border-top: 1px solid rgba(255,255,255,0.10); border-bottom: 1px solid rgba(255,255,255,0.10); }
.dash_user_status:hover
				{ background-color: rgba(255,255,255,0.20); }
.dash_user_status > .user_name
				{ font:12px/12px 'Open Sans'; font-weight: 700; margin-bottom: 5px; }
.dash_user_status > .user_last_login
				{ font:9px/9px 'Open Sans'; font-weight: 400; }

.dash_navigation
				{ display: block; width: 100%; height: calc(100% - 152px); overflow-y: scroll; overflow-x: hidden; }

.dash_navigation > .uk-nav-default
				{ padding: 20px 40px; font:12px/12px 'Open Sans'; font-weight: 400; padding-bottom: 40px; }
.dash_navigation > .uk-nav-default li a
				{ color: rgba(255,255,255,0.60); padding: 10px 0px; }
.dash_navigation > .uk-nav-default a:hover, .dash_navigation > .uk-nav-default .uk-active > a
				{ color: #FFF; font-weight: 600; }
.dash_navigation > .uk-nav-default .uk-nav-sub li
				{ border-left: 1px solid rgba(255,255,255,0.10); padding-left: 10px; height: 20px; display: flex; align-items: center; }
.dash_navigation > .uk-nav-default .uk-nav-sub li:hover, .dash_navigation > .uk-nav-default .uk-nav-sub .uk-active
				{ border-left: 1px solid #FFF; }

.dash_left > .language
				{ display: block; z-index: 9; font:10px/10px 'Open Sans'; font-weight: 400; color: #aaa; position: absolute; bottom: 0px; padding: 10px 0px;
				text-align: center; width: 100%; border-top: 1px solid rgba(255,255,255,0.10); background-color: #00467d; }
.dash_left > .language a
				{ font-weight: 400; color: #aaa; text-decoration: none; }
.dash_left > .language a:hover, .dash_left > .language .selected_option_inactive
				{ font-weight: 700; color: #FFF; }

/** DASH RIGHT TOP & DASH PAGE MENU **/

.dash_title		{ display: flex; flex-direction: column; align-items: left; justify-content: center; height: 100px; width: calc(100% - 140px); padding: 0px 20px; }
.dash_title > img
				{ display: none; height: 40px; margin-bottom: 10px; }
.dash_title > .page_title
				{ display: block; font:24px/24px 'Open Sans'; font-weight: 600; color: #00467d; margin-bottom: 10px; text-transform: uppercase; }
.dash_title > .title_breadcrumbs
				{ display: flex; flex-direction: row; font:10px/10px 'Open Sans'; font-weight: 400; color: rgba(0,0,0,0.60); }
.dash_title > .title_breadcrumbs > span
				{ padding: 0px 6px; }
.dash_title > .title_breadcrumbs > a 
				{ color: rgba(0,0,0,0.60); text-decoration: none; text-transform: uppercase; }
.dash_title > .title_breadcrumbs > a:hover
				{ color: rgba(0,0,0,1.0); }
.dash_title > .title_breadcrumbs > a:last-child
				{ color: #00467d; font-weight: 700; }



.signoff_menu	{ display:flex; width: 100px; align-items: center; justify-content: center; height: 100px; }
.signoff_menu a, .hamburger a
				{ display:flex; width: 100px; align-items: center; justify-content: center; height: 100px; font:14px/14px 'Open Sans'; font-weight: 600;
				color:rgba(0,0,0,0.50); text-decoration: none; text-transform:uppercase; }
.signoff_menu a:hover, .hamburger a:hover
				{ color: #00467d; }

.hamburger		{ display: none; width: 100px; align-items: center; justify-content: center; height: 100px; }

.dash_page_menu > .uk-iconnav > li > a
				{ width: 50px; height: 50px; display:flex; align-items: center; justify-content: center; color: rgba(0,0,0,0.40); border-right: 1px solid rgba(0,0,0,0.10); }
.dash_page_menu > .uk-iconnav > li > a:hover
				{ color: #FFF; background-color: #00467d; }

.form_container
				{ column-count: 1; margin-bottom: 20px; max-width: 500px; }
.radio_form		{ display:flex; align-items: center; justify-content: left; height: 40px; }


.date_form		{ display: flex; }




.input-file-container
				{ position: relative; width: 100%; height: 40px; text-align: center; } 
.js .input-file-trigger
				{ display: block; padding: 10px ; background: #FFF; color: #00467d; font-size: 12px; transition: all .4s; cursor:pointer; border: 1px solid #00467d; }
.js .input-file { position: absolute; top: 0; left: 0; width: 100%; opacity: 0; padding: 0px; cursor: pointer; height: 40px; }

.js .input-file:hover + .input-file-trigger, .js .input-file:focus + .input-file-trigger, .js .input-file-trigger:hover, .js .input-file-trigger:focus
				{ background: #00467d; color: #FFF; }

.file-return 	{ margin: 0; }
.file-return:not(:empty)
				{ margin: 1em 0; }
.js .file-return
				{ font-style: italic; font-size: .9em; font-weight: bold; }
.js .file-return:not(:empty):before
				{ content: "Selected file: "; font-style: normal; font-weight: normal; }

.logo_container
				{ display: flex; position: fixed; width: 100%; height: 100px; background-color: rgba(255,255,255,0.90);
				right: 0px; top: 0px; padding: 0px; z-index: 9; }
.logo_container img
				{ width: 120px; margin: 0px auto; }

.c_container	{ display: block; position: relative; width: 960px; padding: 20px; top: 100px; margin: 0px auto; }
.c_container p 	{ text-align:justify; }
.c_container > p 	{ text-align: center; width: 70%; margin: 0px auto; }
.c_container > p:last-child { margin-top: 30px;  }

.c_container > img { display: block; height: 300px; margin: 0px auto; }

.c_container > .error_text	{ font:100px/100px 'Open Sans'; font-weight: 700; text-align: center; width: 70%; margin: 0px auto; color: #00467d; margin-top: 10px; text-transform: uppercase; }
.c_container > .error_text2	{ font:14px/14px 'Open Sans'; font-weight: 600; text-align: center; width: 70%; margin: 0px auto; color: #000; margin-top: 10px; }
.c_container > .error_text3	{ font:20px/20px 'Open Sans'; font-weight: 600; text-align: center; width: 70%; margin: 0px auto; color: #00467d; margin-top: 10px; text-transform: uppercase; }

.front_page_selection
				{ display: flex; width: 70%; margin: 40px auto 0px auto; }
.front_page_opt1
				{ width: calc(50% - 57px); padding: 20px; background: #00467d; color: #FFF;  border: 1px solid #00467d; margin: 0px 30px 0px 0px; }
.front_page_opt2
				{ width: calc(50% - 57px); padding: 20px; color: #00467d; border: 1px solid #00467d; }

.front_page_selection .title
				{ font:16px/16px 'Open Sans'; font-weight: 600; text-align: center; padding: 10px 0px; }
.front_page_opt1 .button
				{ display: block; background: #FFF; color: #00467d; width: 100px; text-align: center; margin: 30px auto 0px auto;
				padding: 10px 0px; text-decoration: none; border: 0px; }
.front_page_opt1 .button:hover
				{ background: #0f7ae5; color: #FFF; }

.front_page_opt2 .button
				{ display: block; background: #00467d; color: #FFF; width: 100px; text-align: center; margin: 30px auto 0px auto;
				padding: 10px 0px; text-decoration: none; border: 0px; }
.front_page_opt2 .button:hover
				{ background: #0f7ae5; color: #FFF; }

/** MOBILE **/

@media only screen and (max-width: 768px) {

.c_container > .error_text, .c_container > .error_text2, .c_container > .error_text3
				{ width: 100%; }

.c_container img { height: 200px; margin: 0px auto; }
.c_container p 	{ width: 100%; }
	
.front_page_selection
				{ display: block; width: 100%; }
.front_page_opt1
				{ width: calc(100% - 42px); margin: 0px 0px 20px 0px; }
.front_page_opt2
				{ width: calc(100% - 42px); }

.c_container	{ width: calc(100% - 40px); margin: 0px; }

.dash_login_container
				{ position: relative; }
.dash_login		{ width: 100%; border: 0px solid rgba(0,0,0,0.10); z-index: 9; }

.dash_left		{ display: none; width: 100%; height: 100%; }
.dash_right		{ width: calc(100% - 40px); left:0px; }
.dash_right_top	{ width: calc(100% - 0px); }
.dash_page_menu	{ width: calc(100% - 0px); }

.dash_left > .uk-offcanvas-close
				{ display: block; color: rgba(255,255,255,0.40); }
.dash_left > .uk-offcanvas-close:hover
				{ color: rgba(255,255,255,1); }

.hamburger		{ display:flex; }

.dash_title		{ align-items: center; }
.dash_title > .page_title
				{ display: none; }
.dash_title > img
				{ display: block; }

.uk-tooltip.uk-active
				{ display: none; }

.form_container
				{ column-count: 1; }

.center_container
				{ position: relative;height: auto; }

.quiz_container .quiz_content
				{ padding: 0px 15px; }
.quiz_container .quiz_content form .uk-form-label
				{ font:14px/20px 'Open Sans'; font-weight: 600; }
.quiz_container .quiz_content form .uk-form-controls .quiz_radio9
				{ width:30px; margin: 0px 5px;  }
.quiz_container .quiz_content form .uk-form-controls .quiz_radio9 label
				{ font:8px/12px 'Open Sans'; font-weight: 600; }

.quiz_container .quiz_content form .uk-form-controls .quiz_radio5
				{ width:50px; margin: 0px 10px;  }
.quiz_container .quiz_content form .uk-form-controls .quiz_radio5 label
				{ font:10px/16px 'Open Sans'; font-weight: 600; }

.form_divider	{ display: block; }
.form_divider .form_div_gap
				{ width: 0px; }
.form_divider .form_div_container, .form_divider .form_div_300px, .form_divider .form_div_container_auto
				{ width: 100%; }

.form_divider .form_div_300px
				{ width: 100%; }
.profile_picture
				{ width: 100%; height: 200px;}

.info_container input, .info_container select, .info_container .date_form
				{ width: 100%; }

.form_div_container_auto .info_container
				{ width: 100%; }

.info_container	{ width: 100%; }

.photo_info_container
				{ display: flex; align-items: top; margin-bottom: 20px; }
.photo_info_container a
				{ width: 100px; height: 100px; margin-right: 10px; background-size: cover; background-position:center; }
.dash_right .page_title
				{ display: block; }
}


